@charset "UTF-8";

/* default color setting */
:root {
    --main-color: #aaaaaa;
    --accent-color: #d1d1d1;
    --dark-main-color: #999999;
    --text-bright-color: #ffffff;
    --icon-color: #d4ff00;
    --icon-bk-color: #9c9c9c;
    --gray-color: #afafaf;
    --large-width: 1000px;
    --middle-width: 768px;
}

/* default font size */
@media (max-width: 599px) {
    :root {
        font-size: 14px;
    }
}

@media (min-width: 600px) and (max-width: 799px) {
    :root {
        font-size: 16px;
    }
}

@media (min-width: 800px) {
    :root {
        font-size: 18px;
    }
}

body {
    font-size: 16px;
}

/* global setting */
body {
    margin: 0;
    font-family: ‘맑은 고딕’, ‘Appla SD Gothic Neo’, sans-serif;
}

/* header */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1000;
}

header.nohero {
    position: static;
    border-bottom: 1px solid #ddd;
}

/* logo */
.headA {
    display: inline-block;
    line-height: 50px;
    padding: 0 20px;
    background-color: var(--main-color);
    background-color: #cbcbcb;
    color: var(--text-bright-color);
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    text-decoration: none;
}

/* navigation */
.headB ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.headB a {
    display: block;
    padding: 15px;
    color: inherit;
    font-size: 12px;
    text-decoration: none;
}

.headB a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

/* widescreen */
@media (min-width: 768px) {
    header .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: var(--large-width);
        margin-left: auto;
        margin-right: auto;
    }

    .headB ul {
        display: flex;
    }

    .headB a {
        font-size: 14px;
    }

    .headC {
        display: none;
    }

    .headB {
        display: block !important;
    }
}

/* narrowscreen */
@media (max-width: 767px) {
    header .container-small {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .headB {
        display: none;
    }

    .headC {
        outline: none;
        border: none;
        background: none;
        padding: 0;
        margin-right: 10px;
        font-size: 28px;
        cursor: pointer;
        opacity: 0.5;
    }

    .headC:hover {
        opacity: 0.3;
    }
}

/* conA hero image */

.conA {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../images/image-internet.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    min-height: 450px;
    color: var(--text-bright-color);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.conA h1 {
    font-family: Montserrat, sans-serif;
    font-size: 15vw;
    letter-spacing: 0.2em;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 0.2em;
}

.conA img {
    width: 20%;
    background-repeat: no-repeat;
}

.conA p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3vw;
}

.conA a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 30px;
    border: 3px solid currentColor;
    color: var(--text-bright-color);
    border-radius: 6px;
    background-color: var(--accent-color);
    font-size: 14px;
    text-decoration: none;
}

.conA a:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}

@media (min-width: 768px) {
    .conA h1 {
        font-size: 115px;
    }

    .conA p {
        font-size: 23px;
    }
}

/* conB icon + text*/
.conB .container {
    padding-top: 80px;
    padding-bottom: 20px;
}

.conB .text {
    text-align: center;
    padding: 0 20px 60px;
}

.conB h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

.conB p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.8;
    opacity: 0.8;
}

.conB a {
    color: #7b8e95;
    text-decoration: none;
}

.conB a:hover {
    text-decoration: underline;
}

.conB .icon {
    display: inline-block;
    width: 2em;
    font-size: 40px;
    background-color: #3f779a;
    color: #ffffff;
    text-align: center;
    line-height: 2em;
    border-radius: 50%;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .conB .container {
        display: flex;
        max-width: var(--large-width);
        margin: auto;
    }

    .conB .text {
        flex: 1;
    }

}

/* conC text */
.conC {
    background-color: var(--main-color);
    color: var(--text-bright-color);
    margin-bottom: 0%;
}

.conC .text {
    padding: 20px;
}

.conC h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

.conC p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.8;
    opacity: 0.8;
}

.conC a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 30px;
    border: 3px solid currentColor;
    color: var(--text-bright-color);
    border-radius: 6px;
    background-color: var(--accent-color);
    font-size: 14px;
    text-decoration: none;
}

.conC a:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}

.conC .photo {
    background-image: url(../images/image-board.jpg);
    min-height: 200px;
    background-position: center;
    background-size: cover;
}

@media (min-width: 768px) {
    .conC .container {
        display: flex;
        max-width: var(--large-width);
        margin: auto;
    }

    .conC .photo {
        flex: 3
    }

    .conC .text {
        flex: 2
    }
}

/* conD text + image */
.conD {
    background-color: var(--main-color);
    color: var(--text-bright-color);
    margin-bottom: 0%;
}

.conD .text {
    padding: 20px;
}

.conD h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

.conD p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.8;
    opacity: 0.8;
}

.conD a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 30px;
    border: 3px solid currentColor;
    color: var(--text-bright-color);
    border-radius: 6px;
    background-color: var(--accent-color);
    font-size: 14px;
    text-decoration: none;
}

.conD a:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}

.conD .photo {
    background-image: url(../images/image-board.jpg);
    min-height: 200px;
    background-position: center;
    background-size: cover;
}

@media (min-width: 768px) {
    .conD .container {
        display: flex;
        flex-direction: row-reverse;
        max-width: var(--large-width);
        margin: auto;
    }

    .conD .photo {
        flex: 3
    }

    .conD .text {
        flex: 2
    }
}

/* .conD {
  background-color: var(--main-color);
  color: var(--text-bright-color);
}

.conD .container {
  padding-top: 2px;
}

.conD .text {
  padding: 20px;
}

.conD h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
}

.conD p {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.8;
  opacity: 0.8;
}

.conD a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 30px;
  border: 3px solid currentColor;
  color: var(--text-bright-color);
  border-radius: 6px;
  background-color: var(--accent-color);
  font-size: 14px;
  text-decoration: none;
  box-shadow: 0 0 0 1px #888;

}

.conD a:hover {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}

.conD .photo {
  background-image: url(../images/image-tech.jpeg);
  min-height: 200px;
  background-position: center;
  background-size: cover;
}

@media (min-width: 768px) {
  .conD .container {
    display: flex;
    flex-direction: row-reverse;
    max-width: var(--large-width);
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .conD .photo {
    flex: 0 0 400px;
  }

  .conD .text {
    flex: 1;
  }
} */

/* conE */
.conE {
    background-color: var(--main-color);
    color: var(--text-bright-color);
    margin-bottom: 0%;
}

.conE .text {
    padding: 20px;
}

.conE h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

.conE p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.8;
    opacity: 0.8;
}

.conE a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 30px;
    border: 3px solid currentColor;
    color: var(--text-bright-color);
    border-radius: 6px;
    background-color: var(--accent-color);
    font-size: 14px;
    text-decoration: none;
}

.conE a:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}

.conE .photo {
    background-image: url(../images/image-board.jpg);
    min-height: 200px;
    background-position: center;
    background-size: cover;
}

@media (min-width: 768px) {
    .conE .container {
        display: flex;
        max-width: var(--large-width);
        margin: auto;
    }

    .conE .photo {
        flex: 3
    }

    .conE .text {
        flex: 2
    }
}

/* fixed01 */
.fixed01 {
    width: 100%;
    height: 200px;

    background-image: url(../images/image-internet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.fixed02 {
    width: 100%;
    height: 200px;

    background-image: url(../images/image-internet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.fixed03 {
    width: 100%;
    height: 200px;

    background-image: url(../images/image-internet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* footer address, sns, submenu */
footer {
    background-color: var(--dark-main-color);
    color: #fff;
}

footer .container {
    padding: 40px 20px;
}

@media (min-width: 768px) {
    footer .container {
        display: flex;
        flex-wrap: wrap;
        max-width: var(--large-width);
        margin: auto;
    }

    .footA {
        flex: 0 0 40%
    }

    .footB {
        flex: 0 0 60%
    }

    .footC {
        flex: 0 0 100%
    }

    .footB {
        display: flex;
    }

    .footB div {
        flex: 1
    }

    .footB div:not(:last-child) {
        margin-right: 40px;
    }
}

.footA {
    margin-bottom: 30px;
}

.footA h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    letter-spacing: 0.2em;
}

.footA p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
}

.footA a {
    color: inherit;
    text-decoration: none;
}

.footB div {
    margin-bottom: 20px;
}

.footB h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    border-bottom: 1px solid currentColor;
}

.footB ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footB a {
    display: block;
    padding: 5px;
    color: inherit;
    font-size: 12px;
    text-decoration: none;
}

.footB a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.footC {
    font-size: 12px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.footD {
    margin-top: 20px;
}

.footD ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footD a {
    display: block;
    margin-right: 8px;
    padding: 0;
    color: inherit;
    font-size: 16px;
    text-decoration: none;
    border: 1px solid currentColor;
    width: 2em;
    line-height: 2em;
    text-align: center;
    border-radius: 50%;
}

.footD a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}


/* list-a
.conA.compact {
  height: 450px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../images/balloon.jpg);
}

.listA .container {
  display: flex;
  max-width: 1000px;
  margin: 30px auto;
  flex-wrap: wrap;
}

.listA article {
  flex: 1 1 300px;
  padding: 0;
}

.listA a {
  margin: 10px;
  display: block;
  border: 1px solid #ddd;
  text-decoration: none;
  color: inherit
}

.listA a:hover {
  opacity: 0.8;
}

.listA .photo {
  min-height: 150px;
  background-size: cover;
  background-position: center;
}

.listA h2 {
  font-size: 18px;
}

.listA p {
  font-size: 14px;
  opacity: 0.8;
}

.listA .text {
  margin: 10px;
} */